META-INF/mule-src/enterprisecustdetailsapi/src/main/mule/enterprisecustdetails.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="enterprisecustdetails-httpListenerConfig">
        <http:listener-connection host="${https.host}" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="${keyStore.path}" alias="${keyStore.alias}" keyPassword="${keyStore.key_password}" password="${keyStore.password}" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="enterprisecustdetails-config" raml="enterprisecustdetails.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="enterprisecustdetails-main">
        <http:listener config-ref="enterprisecustdetails-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="enterprisecustdetails-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9747f552-179d-4584-b4f7-ba7c2b337b68">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="globalErrorHandlerFlow" doc:id="7fd6ff47-80d8-491e-b847-70fcdafd2ec0" name="globalErrorHandlerFlow"/>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Copy_of_globalErrorHandlerFlow" doc:id="6a181017-7bf5-44a1-b1a4-0b1272504803" name="globalErrorHandlerFlow" />
            </on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="dab8df3d-8239-445d-ae3d-6a8b8fb9b193">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Copy_of_globalErrorHandlerFlow" doc:id="b14d5a2a-d0dc-4fb6-853c-04bd117189ff" name="globalErrorHandlerFlow" />
            </on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Copy_of_globalErrorHandlerFlow" doc:id="38d9677c-536a-40bc-94ff-00dcabd00518" name="globalErrorHandlerFlow" />
            </on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5efe7b83-9065-4a23-ba18-dc56a6ffb2c8">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Copy_of_globalErrorHandlerFlow" doc:id="2bd119bb-945b-4e96-9f19-391207f58a9f" name="globalErrorHandlerFlow" />
            </on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<flow-ref doc:name="Copy_of_globalErrorHandlerFlow" doc:id="a330fa90-f19b-48c2-9e0e-f8788b47c98e" name="globalErrorHandlerFlow" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customer\details:enterprisecustdetails-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7f63161b-3abb-477f-a43a-99b10d38c732" doc:name="output_payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "enterpriseCustDetails-Example": {
    Id: "550e8400-e29b-4",
    Name: "Erik T. Ray",
    Address: "Cerritos, CA 90703, United States",
    Phone: 12345678912
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="implementationECDFlow" doc:id="784962f0-2afe-4db5-abe7-30b3ce8e69a3" name="implementationECDFlow"/>
    </flow>
</mule>
